.post_form_container {
    position: fixed;
    height: calc(100% - 100px);
    width: 100%;
    overflow-y: scroll;
}



.post_form{
    margin-top: 100px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFF;
    padding: 20px 30px;
    border: 2px solid #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 600px;
}



.post_inputs {
    margin: 0 auto;
    background: #FFF;
    border: 2px solid #1DA1E2;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.post_label {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 400;
}



.post_form_body {
    resize: none;
    outline: none;
    border: none;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 520px;
    height: 240px;
}


@media (min-width: 1150px) {
    .post_form_container {
        width: calc(100% - 330px);
    }
}