.post_comment_container {
    position: fixed;
    height: calc(100% - 100px);
    width: 100%;
    overflow-y: scroll;
}

.comment_container{
    width:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.comment {
    position: relative;
    width: 800px;
    background-color: #FFF;
}


hr {
    margin: 0;
}

.comment:last-child > hr{
    display: none;
}

@media (min-width: 1150px) {
    .post_comment_container {
        width: calc(100% - 330px);
    }
}