


.main_container {
    margin-top: 100px;
    position: fixed;
    height: calc(100% - 100px);
    width: 100%;
    background-color: #EEE;
}

.posts {
    position: fixed;
    height: calc(100% - 100px);
    overflow-y: scroll;
}